<%- include('header') %>

<section>
  <h2 class="button_add">
    Admin Categorias:
    <a href="/admin/categorias/add">Nova Categoria</a></li>
  </h2>
  <section>
    <ul>
      <% categorias.forEach( categoria => { %>
      <li> 
        <%- categoria.categoria %>
        <a href="/admin/categorias/delete/<%- categoria.id %>">Excluir</a>
        <a href="/admin/categorias/edite/<%- categoria.id %>">Editar</a>
      </li>
      <%}) %>
    </ul>
  </section>
</section>

<%- include('footer') %>
